html{
    background-image: url("background.jpg") /* Change Background Color */;
    background-position-x: middle;
    height: 100%;
    width: 100%;
}

body {
    margin-left : 8%; 
    margin-right: 8%;
    margin-bottom: 8%;
    vertical-align: middle;
    background-color: white;
    opacity: 0.85;
    text-align: center;   
}

h2 {
    border-style: outset;
}

h1,h2,h3,p {
    text-align: center;
}

h1 {
    font-size: 65px;
    color: cornflowerblue;
    text-shadow: 2px 2px #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
